HTTP_PORT_CHAT_EXPOSE=8181
HTTP_PORT_CHAT=8181

POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PG_PORT=5432
PG_HOST=postgres-chat-container
PG_SSL=disable

RD_PORT=6379
RD_HOST=redis
RD_DB=0

MIGRATION_DIR=./migrations