HTTP_PORT_CHAT_EXPOSE=8181
HTTP_PORT_CHAT=8181

POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres-chat-container
POSTGRES_SSL=disable

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_DB=0

MIGRATION_DIR=./migrations